In [1]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC

from sklearn.neural_network import MLPClassifier

from sklearn.metrics import plot_confusion_matrix
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegressionCV
from sklearn.ensemble import RandomForestClassifier

import pandas as pd
import numpy as np

df = pd.DataFrame()

In [2]:
df=pd.read_csv('./dataset/Balanced_dataset.csv')

In [3]:
df.groupby('outcome').size()
df.head()

,age,sex,city,province,country,lives_in_Wuhan,travel_history_location,chronic_disease_binary,chronic_disease,chronic_disease_Hypertension,...,shortness of breath,somnolence,sore throat,sputum,septic shock,Heart attack,cold,cardiac disease,hypoxia,outcome
0,65.0,0,city,Washington,United States,NaN,NaN,0,NaN,0,...,0,0,0,0,0,0,0,0,0,recovered
1,54.0,0,Taguig,Metro Manila,Philippines,NaN,NaN,0,NaN,0,...,0,0,0,0,0,0,0,0,0,recovered
2,40.0,0,Pasay,Metro Manila,Philippines,NaN,NaN,0,NaN,0,...,0,0,0,0,0,0,0,0,0,recovered
3,28.0,0,Muntinlupa,Metro Manila,Philippines,NaN,NaN,0,NaN,0,...,0,0,0,0,0,0,0,0,0,recovered
4,30.0,0,Cainta,Rizal,Philippines,NaN,NaN,0,NaN,0,...,0,0,0,0,0,0,0,0,0,recovered

In [4]:
df=df.replace('died',0)
df=df.replace('recovered',1)
df['chronic_disease'].fillna(0,inplace = True)
df1=df

In [5]:
df.head()

,age,sex,city,province,country,lives_in_Wuhan,travel_history_location,chronic_disease_binary,chronic_disease,chronic_disease_Hypertension,...,shortness of breath,somnolence,sore throat,sputum,septic shock,Heart attack,cold,cardiac disease,hypoxia,outcome
0,65.0,0,city,Washington,United States,NaN,NaN,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,54.0,0,Taguig,Metro Manila,Philippines,NaN,NaN,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,40.0,0,Pasay,Metro Manila,Philippines,NaN,NaN,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,28.0,0,Muntinlupa,Metro Manila,Philippines,NaN,NaN,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,30.0,0,Cainta,Rizal,Philippines,NaN,NaN,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [6]:
df.columns

Index(['age', 'sex', 'city', 'province', 'country', 'lives_in_Wuhan',
       'travel_history_location', 'chronic_disease_binary', 'chronic_disease',
       'chronic_disease_Hypertension', 'chronic_disease_Diabetes',
       'chronic_disease_kidney', 'chronic_disease_COPD',
       'chronic_disease_heart', 'chronic_disease_asthma',
       'chronic_disease_cardiac', 'chronic_disease_prostate',
       'chronic_disease_cancer', 'chronic_disease_TB',
       'chronic_disease_Hepatitis', 'chronic_disease_HIV',
       'chronic_disease_cereberal', 'chronic_disease_Parkinson',
       'chronic_disease_bronchitis', 'chronic_disease_hypothyroidism',
       'chronic_disease_dyslipidemia', 'anorexia', 'chest pain', 'chills',
       'conjunctivitis', 'cough', 'diarrhea', 'dizziness', 'dyspnea', 'emesis',
       'expectoration', 'eye irritation', 'fatigue', 'fever', 'gasp',
       'headache', 'kidney failure', 'lesions on chest radiographs',
       'hypertension', 'Myalgia', 'obnubilation', 'pneumonia', 'myelofibrosis',
       'respiratory distress', 'rhinorrhea', 'shortness of breath',
       'somnolence', 'sore throat', 'sputum', 'septic shock', 'Heart attack',
       'cold', 'cardiac disease', 'hypoxia', 'outcome'],
      dtype='object')

In [8]:
num_feat=['age', 'sex', 'anorexia','chronic_disease_Hypertension', 
       'chronic_disease_Diabetes','chronic_disease_kidney', 'chronic_disease_COPD',
       'chronic_disease_heart', 'chronic_disease_asthma','chronic_disease_cardiac', 
       'chronic_disease_prostate','chronic_disease_cancer', 'chronic_disease_TB',
       'chronic_disease_Hepatitis', 'chronic_disease_HIV','chronic_disease_cereberal', 
       'chronic_disease_Parkinson','chronic_disease_bronchitis', 'chronic_disease_hypothyroidism',
       'chronic_disease_dyslipidemia', 'anorexia', 'chest pain',
       'chills', 'conjunctivitis', 'cough', 'diarrhea', 'dizziness', 'dyspnea',
       'emesis', 'expectoration', 'eye irritation', 'fatigue', 'fever', 'gasp',
       'headache', 'kidney failure', 'hypertension', 'Myalgia', 'obnubilation', 'pneumonia',
       'respiratory distress', 'rhinorrhea', 'shortness of breath',
       'somnolence', 'sore throat', 'sputum', 'septic shock', 'Heart attack',
       'cold', 'hypoxia']

In [9]:
numX= df[num_feat]

null_columns=numX.columns[numX.isnull().any()]
numX[null_columns].isnull().sum()

Series([], dtype: float64)

In [10]:
numX.head()

,age,sex,anorexia,chronic_disease_Hypertension,chronic_disease_Diabetes,chronic_disease_kidney,chronic_disease_COPD,chronic_disease_heart,chronic_disease_asthma,chronic_disease_cardiac,...,respiratory distress,rhinorrhea,shortness of breath,somnolence,sore throat,sputum,septic shock,Heart attack,cold,hypoxia
0,65.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,54.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,40.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,28.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,30.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
y= df['outcome']
y

0        1
1        1
2        1
3        1
4        1
        ..
12015    0
12016    0
12017    0
12018    0
12019    0
Name: outcome, Length: 12020, dtype: int64

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(numX, y, test_size=0.3, random_state=2)
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(8414, 50)
(8414,)
(3606, 50)
(3606,)

In [13]:
my_decisiontree=DecisionTreeClassifier()
my_logreg=LogisticRegression(max_iter=2000)
knn = KNeighborsClassifier(n_neighbors=5) 
svclassifier = SVC(kernel='linear', probability=True)
rftree = RandomForestClassifier(n_estimators = 19, bootstrap = True, random_state=2)
my_ANN = MLPClassifier(activation= 'logistic', alpha= 0.01, hidden_layer_sizes= [10,3],
                  learning_rate='constant', random_state= 9, solver= 'adam',max_iter=2000,)

In [14]:
#train

my_logreg.fit(X_train, y_train)
knn.fit(X_train, y_train) 

my_ANN.fit(X_train, y_train)

MLPClassifier(activation='logistic', alpha=0.01, hidden_layer_sizes=[10, 3],
              max_iter=2000, random_state=9)

In [16]:
#test
y_predict_KNN = knn.predict(X_test)
y_predict_logreg = my_logreg.predict(X_test)


y_pred_ANN = my_ANN.predict(X_test)

In [28]:
from sklearn.metrics import accuracy_score

#accuracy
accuracy={}
accuracy ['KNN Accuracy']=accuracy_score(y_test, y_predict_KNN)
accuracy ['Logistic Regression Accuracy']=accuracy_score(y_test, y_predict_logreg)



accuracy ['Neural Network Accuracy']=accuracy_score(y_test, y_pred_ANN)

accuracy

{'KNN Accuracy': 0.8616195230171936,
 'Logistic Regression Accuracy': 0.5471436494731003,
 'Neural Network Accuracy': 0.8069883527454242}

In [29]:
features=['age', 'sex', 'city', 'province', 'country',
       'travel_history_location', 'chronic_disease_Hypertension', 
       'chronic_disease_Diabetes','chronic_disease_kidney', 'chronic_disease_COPD',
       'chronic_disease_heart', 'chronic_disease_asthma','chronic_disease_cardiac', 
       'chronic_disease_prostate','chronic_disease_cancer', 'chronic_disease_TB',
       'chronic_disease_Hepatitis', 'chronic_disease_HIV','chronic_disease_cereberal', 
       'chronic_disease_Parkinson','chronic_disease_bronchitis', 'chronic_disease_hypothyroidism',
       'chronic_disease_dyslipidemia', 'anorexia', 'chest pain',
       'chills', 'conjunctivitis', 'cough', 'diarrhea', 'dizziness', 'dyspnea',
       'emesis', 'expectoration', 'eye irritation', 'fatigue', 'fever', 'gasp',
       'headache', 'kidney failure',  'hypertension', 'Myalgia', 'obnubilation', 'pneumonia',
       'respiratory distress', 'rhinorrhea', 'shortness of breath',
       'somnolence', 'sore throat', 'sputum', 'septic shock', 'Heart attack',
       'cold','hypoxia']

In [30]:
X=df1[features]
y=df1['outcome']

In [31]:
print(X.shape)
print(y.shape)

(12020, 53)
(12020,)

In [32]:
X.head()

,age,sex,city,province,country,travel_history_location,chronic_disease_Hypertension,chronic_disease_Diabetes,chronic_disease_kidney,chronic_disease_COPD,...,respiratory distress,rhinorrhea,shortness of breath,somnolence,sore throat,sputum,septic shock,Heart attack,cold,hypoxia
0,65.0,0,city,Washington,United States,NaN,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,54.0,0,Taguig,Metro Manila,Philippines,NaN,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,40.0,0,Pasay,Metro Manila,Philippines,NaN,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,28.0,0,Muntinlupa,Metro Manila,Philippines,NaN,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,30.0,0,Cainta,Rizal,Philippines,NaN,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [33]:
print(X.shape)
print(y.shape)

(12020, 53)
(12020,)

In [38]:
null_columns=X.columns[X.isnull().any()]
X[null_columns].isnull().sum()

city                        1062
province                     338
country                        2
travel_history_location    11621
dtype: int64

In [41]:
import pickle


with open('LogisticRegression.pkl', 'wb') as write:
  pickle.dump(my_logreg,write)
with open('KNN.pkl', 'wb') as write:
  pickle.dump(knn,write)
with open('NeuralNetwork.pkl', 'wb') as write:
  pickle.dump(my_ANN,write)

In [42]:
from sklearn.metrics import accuracy_score

#accuracy
accuracy={}
accuracy ['KNN Accuracy']=accuracy_score(y_test, y_predict_KNN)
accuracy ['Logistic Regression Accuracy']=accuracy_score(y_test, y_predict_logreg)
accuracy ['Decision Tree Accuracy']=accuracy_score(y_test, y_predict_dt)
accuracy ['SVM Accuracy']=accuracy_score(y_test, y_pred_svm)
accuracy ['Random Forest Accuracy']=accuracy_score(y_test, y_pred_RF)
accuracy ['Neural Network Accuracy']=accuracy_score(y_test, y_pred_ANN)

accuracy

NameError: name 'y_predict_dt' is not defined

In [32]:
logreg = my_logreg.fit(X_train, y_train)
knn = knn.fit(X_train, y_train) 
nn = my_ANN.fit(X_train, y_train)

In [34]:
import pickle


with open('LogisticRegression.pkl', 'wb') as write:
  pickle.dump(logreg,write)
with open('KNN.pkl', 'wb') as write:
  pickle.dump(knn,write)
with open('NeuralNetwork.pkl', 'wb') as write:
  pickle.dump(nn,write)

In [35]:
logreg_model = pickle.load(open('LogisticRegression.pkl', 'rb'))
knn_model = pickle.load(open('KNN.pkl', 'rb'))
nn_model = pickle.load(open('NeuralNetwork.pkl', 'rb'))

In [74]:
new_data = X_test.iloc[0]
a = new_data.array
a

<PandasArray>
[43.0,  0.0,  0.0,  0.0,  0.0,  0.0,  0.0,  0.0,  0.0,  0.0,
 ...
  0.0,  0.0,  0.0,  0.0,  0.0,  0.0,  0.0,  0.0,  0.0,  0.0]
Length: 1258, dtype: float64

In [75]:
#accuracy
test={}
test['Logistic Regression'] = logreg_model.predict([a])[0]
test['KNN'] = knn_model.predict([a])[0]
test['Neural Network'] = nn_model.predict([a])[0]

test

{'Logistic Regression': 1, 'KNN': 0, 'Neural Network': 1}